<section class="bg-primary" id="article">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Science review</h2>
                <hr class="light">
                <p style="float: left; width: 200px;height: auto;margin-right: 100px;"> <img src="img/portfolio/article.png" class="profil1" download="https://github.com/WeeXee/Portfolio/raw/main/img/portfolio/article.pdf" alt="imageprofil"></p>
                <br><br>
                <p class="text-faded">In 2021, the Dikè doctoral training program, carried out by the CTHDIP, declined in two stages the theme of the interbreeding of rights in French-speaking sub-Saharan Africa.
                    <br> For this occasion I was able to be the photographer who created the cover page of this book.
                    <br> "THE MIXING OF RIGHTS IN FRANCOPHONE SUB-SAHARAN AFRICA."</p>
                <div class="call-to-action">
                    <a href="https://cthdip.ut-capitole.fr/accueil/recherche/publications-du-centre/collections-douvrages/publications-dike/le-metissage-des-droits-en-afrique-subsaharienne-francophone-publications-dike-n-3-cthdip" target="_blank" class="btn btn-default btn-xl wow tada">Take a look </a>
                </div>
            </div>
        </div>
    </div>
</section>