<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me...</h2>
                <hr class="light">
                <p style="float:left; width:100%; height: auto;"> <img src="img/profil1.jpg" class="profil1" alt="imageprofil"></p>
                <br><br>
                <p class="text-faded">First year computer science student. I am motivated by any kind of project. Failing to excel in one area, I am very interested in multitasking. I obviously like IT but also design, photography and management. I like to create projects
                    and I have a very good sense of priorities. I thrive in teamwork.</p>
                <a href="#services" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>