<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1> My Portfolio </h1>
            <hr>
            <p>Third Year in IT school, Cybersecurity.
                <br> <br> I chose the international language for my website in a way to have more possibilities with compagnies. I'm a french person, fluent in english.
                <br> <br>If you click on my git links to see my differents projects or internships, you will have the french versions, because my school is in France.
                <br> Don't worry, you can contact me to have the englishs versions !
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>