<section class="bg-primary" id="internship">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me...</h2>
                <hr class="light">
                <p style="float: left; width: 200px;height: auto;margin-right: 20px;"> <img src="img/profil1.jpg" class="profil1" alt="imageprofil"></p>
                <br><br>
                <p class="text-faded">Just about to begin my third year in computer science. I am motivated by any kind of project. I obviously like IT but also design, photography and management. I like to create projects and I have a very good sense of priorities. I thrive
                    in teamwork. My speciality is the CyberSecurity.</p>
                <a href="#services" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>