<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" data-lang="en">Let me introduce myself in few words</h2>
                <h2 class="section-heading" data-lang="fr" style="display: none;">Petite présentation</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-laptop wow bounceIn text-primary"></i>
                    <h3 data-lang="en">IT Skills</h3>
                    <h3 data-lang="fr" style="display: none;">Compétences Info</h3>
                    <p class="text-muted" data-lang="en">Student in Toulouse Ynov Campus, in IT Cybersecurity. Problem solving is my way of thinking.</p>
                    <p class="text-muted" data-lang="fr" style="display: none;">Étudiant au Campus Toulouse Ynov, en Cybersécurité informatique. La résolution de problèmes est ma façon de penser.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Management</h3>
                    <p class="text-muted" data-lang="en">Experience as a project manager in my school. I know how to handle teamwork and the agile method.</p>
                    <p class="text-muted" data-lang="fr" style="display: none;">Expérience en tant que chef de projet dans mon école. Je sais gérer le travail en équipe et la méthode agile.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tasks wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3 data-lang="en">Multitasking</h3>
                    <h3 data-lang="fr" style="display: none;">Multitâche</h3>
                    <p class="text-muted" data-lang="en">I am able to control several spots at the same time thanks to the Ydays in my school as a Project Manager.</p>
                    <p class="text-muted" data-lang="fr" style="display: none;">Je suis capable de maîtriser plusieurs tâches simultanément grâce à mon experience de chef de projet aux YDays.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3 data-lang="en">Projects</h3>
                    <h3 data-lang="fr" style="display: none;">Projets</h3>
                    <p class="text-muted" data-lang="en">
                        • IT: Web dev, Cyber, and Infra. <br> • Video: Short film realisation. <br> • Design: School BDE posters. <br> • Photography: Many shootings</p>
                    <p class="text-muted" data-lang="fr" style="display: none;">
                        • Informatique: developpement, Infra, Cyber. <br> • Video: Court métrage. <br> • Design: Affiches du BDE. <br> • Photographie: Amateur, shootings.</p>
                </div>
            </div>

            <!--Second part -->
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-video-camera wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3 data-lang="en">Hobbies</h3>
                    <h3 data-lang="fr" style="display: none;">Loisirs</h3>
                    <p class="text-muted" data-lang="en">
                        • Sports: Basketball - Enduro - Moto <br> • Art: Theater - Conservatory and "Cours Florent" <br>
                    </p>
                    <p class="text-muted" data-lang="fr" style="display: none;">
                        • Sports: Basketball - Enduro - Moto route <br> • Art: Théâtre - Conservatoire et "Cours Florent" <br>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-linkedin-square wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3 data-lang="en">Jobs</h3>
                    <h3 data-lang="fr" style="display: none;">Experience pro</h3>
                    <p class="text-muted" data-lang="en">2019: Barmaid in a restaurant in the city of Carcassonne.<br> 2022 - 2023: Internships, Brussels, and devops(checks details below). <br> 2023: Apprenticeship in BPCE-IT, in Cybersecurity.</p>
                    <p class="text-muted" data-lang="fr" style="display: none;">2019: Barmaid: Cité de Carcassonne.<br> 2022 - 2023: Stages, Bruxelles, et Developpement(voir détails ci-dessous). <br> 2023: Alternance chez BPCE-IT, en Cybersecurité.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Diplomes</h3>
                    <p class="text-muted" data-lang="en">
                        • Patent: Highests Honors. <br> • Baccalauréat: Scientist Honors. <br> • TOEIC: Level B2. <br> • Bachelor 1: Honors. <br> • Bachelor 2: Highests Honors.</p>
                    </p>
                    <p class="text-muted" data-lang="fr" style="display: none;">
                        • Brevet: Mention très bien. <br> • Bac Scientifique: Mention Bien. <br> • TOEIC: Niveau B2. <br> • Bachelor 1: Mention Bien. <br> • Bachelor 2: Mention très bien.</p>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Passion</h3>
                    <p class="text-muted" data-lang="en">I discovered IT few years ago now. I am passionated in my work, I love learning new things. This subject is in a constant evolution and it's why I love it.</p>
                    <p class="text-muted" data-lang="fr" style="display: none;">J'ai découvert l'informatique il y a quelques années, et j'ai toujours été pasionnée. L'informatique est un domaine en constante évolution, c'est pour cette raison que j'ai choisis d'en faire mon métier.</p>

                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const langButtons = document.querySelectorAll('.lang-button');
        const paragraphs = document.querySelectorAll('p[data-lang]');
        const titre = document.querySelectorAll('h3[data-lang]');
        const titre2 = document.querySelectorAll('h2[data-lang]');

        langButtons.forEach(button => {
            button.addEventListener('click', function() {
                const selectedLang = this.getAttribute('data-lang');

                paragraphs.forEach(paragraph => {
                    if (paragraph.getAttribute('data-lang') === selectedLang) {
                        paragraph.style.display = 'block';
                    } else {
                        paragraph.style.display = 'none';
                    }
                });
                titre.forEach(titre => {
                    if (titre.getAttribute('data-lang') === selectedLang) {
                        titre.style.display = 'block';
                    } else {
                        titre.style.display = 'none';
                    }
                });
                titre2.forEach(titre2 => {
                    if (titre2.getAttribute('data-lang') === selectedLang) {
                        titre2.style.display = 'block';
                    } else {
                        titre2.style.display = 'none';
                    }
                });
            });
        });
    });
</script>