<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Let me introduce myself in few words</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-laptop wow bounceIn text-primary"></i>
                    <h3>IT Skills</h3>
                    <p class="text-muted">Student in Toulouse Ynov Campus, in IT Cybersecurity. Problem solving is my way of thinking.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Management</h3>
                    <p class="text-muted">Experience as a project manager in my school. I know how to handle teamwork and the agile method.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tasks wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Multitasking</h3>
                    <p class="text-muted">I am able to control several spots at the same time thanks to the Ydays in my school as a Project Manager.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Projects</h3>
                    <p class="text-muted">
                        • IT: web dev, devops, and infra. <br> • Video: Short film realisation. <br> • Design: School BDE posters. <br> • Photography: Many shootings</p>
                </div>
            </div>

            <!--Second part -->
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-video-camera wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Hobbies</h3>
                    <p class="text-muted">
                        • Sports: Basketball - Motocross - Bike <br> • Art: Theater - Conservatory and "Cours Florent" <br>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-linkedin-square wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Jobs</h3>
                    <p class="text-muted">2019: Barmaid in a restaurant in the city of Carcassonne.<br> 2022 - 2023: Internships, Brussels, and devops (checks details below). <br> 2023: Apprenticeship in BPCE-IT, in Cybersecurity.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Diplomes</h3>
                    <p class="text-muted">
                        • Patent: First Class Honors. <br> • Baccalauréat: Scientist Honors. <br> • TOEIC: Level B2. <br> • Bachelor 1: Honors. <br> • Bachelor 2: Highest honour.</p>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Passionated</h3>
                    <p class="text-muted">I discovered IT few years ago now. I am passionated in my work, I love learning new things. This subject is in a constant evolution and it's why I love it.</p>
                </div>
            </div>
        </div>
    </div>
</section>